<table class="filtercontainericontent" id="filtercontainericontent">
    <script th:src="@{/js/chatsfilter.js}"></script>
    <tr class="filter" id="filterparams">
        <td class="colid"></td>
        <td class="col">
            <label>Поиск:</label>
            <input type="text" id="term" th:field="*{filter.term}" name="term" class="1col active form-control"/>

            <div style="margin-top: 10px;">
                <input type="checkbox" id="excludeStatusFlag" th:field="*{filter.excludeStatusFlag}"
                       name="excludeStatusFlag" class="1col active form-control"/>
                <label for="excludeStatusFlag">Не показывать статус > 0</label>
            </div>
        </td>
        <td class="col limit">
            <label>Максимум сообщений:</label>
            <input type="text" id="maxFoundCount" th:field="*{filter.maxFoundCount}" name="maxFoundCount"
                   class="1col active form-control"/>

            <label>ТГ аккаунты:</label>
            <select id="tgAccounts" name="tgAccountIds" multiple="multiple" class="form-control">
                <option th:each="tgAccount : ${tgAccounts}"
                        th:value="${tgAccount.id}"
                        th:text="${tgAccount.description}"></option>
            </select>
        </td>
        <td class="col">
            <div class="filterchatblock">
                <label>Не писали больше чем (д):</label>
                <input type="text" id="minDiffDaysCount" th:field="*{filter.minDiffDaysCount}" name="minDiffDaysCount"
                       class="1col active form-control"/>

                <label>Последнее сообщение:</label>
                <input type="text" id="lastMessage" th:field="*{filter.lastMessage}" name="lastMessage"
                       class="1col active form-control"/>
            </div>
        </td>
        <td class="col">
            <div class="filterchatblock">
                <label>Тип чатов (боты):</label>
                <select id="botType" th:field="*{filter.botType}" class="form-control">
                    <option th:value="PERSONAL">Только личные</option>
                    <option th:value="NOT_PERSONAL">Только боты</option>
                    <option th:value="ALL">Все чаты</option>
                </select>

                <div style="margin-top: 10px;">
                    <label>Тип чатов (группы/каналы):</label>
                    <select id="groupType" th:field="*{filter.groupType}" class="form-control">
                        <option th:value="PERSONAL">Только личные</option>
                        <option th:value="NOT_PERSONAL">Только группы и каналы</option>
                        <option th:value="ALL">Все чаты</option>
                    </select>
                </div>
            </div>
        </td>
        <td colspan="2">
            <button class="save" id="filter" type="submit">Фильтровать</button>
        </td>
    </tr>
    <tr class="message">
        <td colspan="2">
            <a href="javascript:void(0)" id="checkAll">Выделить все</a>
            <a href="javascript:void(0)" id="uncheckAll">Снять выделение</a>
        </td>
        <td colSpan="2">
            <span>Сообщение</span>
            <input type="text" name="message" id="message">

            <button class="save massaction" id="sendMessage" type="submit">Послать сообщение</button>
            <button class="save massaction" id="export" type="submit">Экспортировать</button>
            <button class="save massaction" id="toFolder" type="submit">В папку</button>
            <button class="save massaction" id="fromFolder" type="submit">Из папки</button>

        </td>
        <td>
            <label>Добавить сообщения</label>
            <input type="text" id="messagesCount" th:field="*{filter.messagesCount}" name="messagesCount"
                   class="1col active form-control"/>
        </td>
        <td></td>
        <td></td>
    </tr>
</table>