@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);

* {margin: 0;
padding: 0;}

html {font: 10pt 'PT sans', Tahoma, Arial, sans-serif;
color: #00243d;}


.fr {float: right;}
.fl {float: left;}

body {background: #d6d6d6;}

.layout {
width: 100%;
height: 100%}

.conteiner, .header-top, .header-bottom-menu {width:940px;
margin: auto}

a {color: #006699;cursor: pointer;}

a:active, a:hover {text-decoration: none}

td #mapcont{
    width: 500px;
    height: 500px;
}

tbody td {vertical-align: top}
tbody td:last-child {vertical-align: middle}

input, button, img {border:0}
input[type="text"]{
    height: 28px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 0 10px;
}
/* header */
header {width:100%;
background-color: #fff}

a.logo {font-size: 32px;
color:#00243d;
text-decoration: none;}

ul.right-menu {list-style: none;
margin-top: 16px;
display: inline-block;}
ul.right-menu li {float: left;
display: inline-block;}
ul.right-menu li a {font-size: 11pt;
color:#00243d;}

ul.right-menu li:first-child {padding-right: 16px;}

.header-top {padding:  15px 20px;}
.header-bottom {background-color: #002946;
width: 100%;}

ul.top-menu {
    list-style: none;
    display: inline-block;
    padding-top: 3px;
    margin: 0;
    width: 100%;
}

ul.top-menu li {
    float: left;
    display: inline-block;
    padding: 2px 10px;
}

ul.top-menu li .menuitem {
    font-size: 13pt;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 2px 6px;
    border-radius: 2px;
}

ul.top-menu li.item_logout {
    float: right !important;
}
ul.top-menu li .menuitem:hover, ul.top-menu li a:active {background: linear-gradient(to bottom, #01548f, #00487c);}
ul.top-menu li:first-child {padding-left:0;}

ul.top-menu ul.logsmenu {
    display: none;
    background-color: #2a6496;
    height: 100px;
    position: absolute;
    z-index: 666;
    border-radius: 15px
}

ul.top-menu ul.logsmenu li{
    display: block;
    width: 100%;
}

ul.top-menu ul.logsmenu li a{
    font-size: 13pt;
    color: #fff;
}

ul.top-menu ul.logsmenu li a#js__statistic,a#js__chart{
    padding-left: 8px;
}


ul.top-menu ul.logsmenu li a#js__all_logs{
    padding-left: 16px;
}

ul.top-menu ul.logsmenu li a:hover{
    font-size: 13pt;
    color: #348585;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

/*Left block*/
.conteiner {padding:0 20px;}
.left-sidebar {width:175px;
margin-top:20px;}
.wrapp-left-menu {box-shadow: 0 1px 5px rgba(0,0,0,.1);}
ul.left-menu {list-style: none;
background-color: #ececec;
border-radius:4px 0 0 4px;
border: 1px solid #bbb;
box-shadow: 0 0 2px rgba(255,255,255,1) inset;}

ul.left-menu li {border-top:1px solid #d4d4d4;
border-bottom:1px solid #fff;}

ul.left-menu li:first-child {border-top:none;}
ul.left-menu li:last-child {border-bottom:none;}

ul.left-menu li a {padding: 8px 0 8px 20px;
display:block;
text-decoration: none;}

ul.left-menu li a:hover, ul.left-menu li a:active, .first-line-footer a:hover, .first-line-footer a:active {text-decoration: underline;}

ul.left-menu li:first-child {padding-left:0;}

ul.left-menu li.important-list {border-top: 5px solid #ccc;}


/*Right block*/
.content {padding:0 20px 30px;
background-color: #fff;
margin-left: 174px;
border: 1px solid #bbb;
border-top: 0;
box-shadow: 0 1px 5px rgba(0,0,0,.1);}

.searcherform {margin-bottom:20px}


#searcher {width: 360px;
height: 28px;
border: 1px solid #bdbdbd;
border-radius: 3px;
padding: 0 10px;} 

#submit  {background: url(/admin/icons/loupe.png) no-repeat;
width:24px;
height:24px;
margin-left:5px;
cursor: pointer;
text-indent: 30px;
color: transparent;}

.chatstatus1 {
    background-color: lightgray;
}
.vacancy1 {
    background-color: #4AB6EC;
}
.chatstatus2 {
    background-color: #4AB6EC;
}
.vacancy2 {
    background-color: #4AB6EC;
}
.chatstatus3 {
    background-color: #afd9ee;
}
.vacancy3 {
    background-color: #afd9ee;
}
button.add, .buttonstyle {color:#fff;
font-size: 11pt;
display:block;
padding: 0 15px;
height:28px;
background: linear-gradient(to bottom, #a7a7a7, #747474);
border-radius: 6px;
border-bottom: 2px solid #606060;
text-decoration: none;
text-align: center;
margin-top: -2px;
line-height: 26px;
cursor: pointer;
}
.buttonstyle {
    margin:10px;
}
.buttonstyle.m10{
    margin:0 10px;
}
button.add:hover, .buttonstyle:hover {background: linear-gradient(to top, #a7a7a7, #747474);
    color: #fff;}
button.add:focus, .buttonstyle:focus{
    color: #fff;
}

h1 {font:18pt normal;
padding: 20px 0;}

.navigator ul {
    list-style:none;
    display: inline-block;
    margin-top:10px
}
.navigator ul li {
    float:left;
    display: inline-block;
    margin-right: 5px;
    border-radius:2px;
    border: 1px solid #d0d0d0;
}

.navigator ul li a {
    display: block;
    padding: 2px 8px;
    font-size:16px;
}

.navigator ul li.current a {color:#fff;}

.navigator ul li.current {
    background-color: #55b2e6;
    border: 1px solid #55b2e6
}
.navigator ul li.uncurrent:hover {background-color: #999;
    border: 1px solid #999}

.navigator ul li.uncurrent a:hover {color:#fff}



table {width: 100%}

.list {
border:0;
border-spacing:0}

.table-index {width: 70px;}
.table-image {width: 50px}
.table-alias {width: 100px;}
.table-setting {width: 110px;}

td#alias div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px}

.propertyRow_0 td {opacity: 0.6;
background-color: #e0e0e0;}

.list td, .list th {line-height: 150%;}

.list tr td {border-bottom:1px solid #e0e0e0;
padding: 10px}

.list thead th {
padding: 5px 10px;
color: #fff;
font-size: 12pt;
font-weight: normal;
background-color: #64aed7;
}
.list thead th a {
color: #fff;  
}

.list thead th:first-child {border-top-left-radius: 6px}

.list thead th:last-child {border-top-right-radius: 6px;}

.list tbody td div.setting {text-align: center;}

.list tbody td:last-child div a, .buttons {background: url(/admin/icons/sprite.png) no-repeat;
width: 16px;
height: 16px;
display:inline-block;
margin-right: 3px;}


.list tbody td div a.setting-2 {background-position: -16px 0;}

.list tbody td div a.setting-3 {background-position: -32px 0;}

.list tbody td div a.setting-4, .editicon {background-position: -48px 0;} 

.list tbody td div a.setting-5, .editicon {background-position: -64px 0;
margin-right: 0;}

.list tbody td p:only-of-type {color: #676767;}

.list tbody tr.last-line td {border-bottom:0;}

.list tfoot td.first-line-footer {border-top:1px solid #fff;}

.first-line-footer a {text-decoration: none;}
 
.list tfoot td {text-align: center;
background-color: #b3daef;
font-size: 12pt;
padding: 3px 0;}

.list tfoot td.last-line-footer {
border:0;
border-top: 1px solid #fff;
height: 15px;}

.list tfoot td.last-line-footer:first-child {border-bottom-left-radius: 6px;
background-color: #64aed7;}
.list tfoot td.last-line-footer:first-child {border-bottom-right-radius: 6px;
background-color: #64aed7;}

/* stantions */
.stantionsEdit{

}
.stantionsEdit tbody td{
    vertical-align: middle;
    padding: 3px;
}
ul.li-slider{
    width: 250px;
    padding: 3px;
}
table.table{
    table-layout: auto;
}

#journeyForm .edit-form{
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 5px;
}
/* main-admin -properties.css*/
.list tr td.img-box {
    width:50px;
    text-align: center}

.list tr td img {max-width:50px}

input,textarea {border:none;}

.list tr td {border-left:1px solid #e0e0e0}

.list thead tr th, .list tr td:first-child {border-left:0}

.edit {background-color: rgba(147,147,147,.9);
    border-radius: 8px;
    padding:15px;
    width: 272px;
    border: 1px solid #5c5c5c;
    box-shadow: 0 0 2px rgb(255,255,255) inset;
    position: absolute;
    z-index: 10;
}

.label {color:#fff;
    text-shadow:0 1px 1px rgba(0,0,0,.4);
    font-size:13pt;
    margin-bottom:8px}

.label-image {position:relative}

input {color:#00243d}
input.input-file, .labeled {
    margin-bottom:10px;
    background-color: rgba(255,255,255,.6);
    width: 100%;
    height:28px;
    border: 1px solid #797979;
    border-top-color: #444;
    border-radius:5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.5) inset;
    padding: 0 10px}

img.edit-image {color: transparent;
    margin-bottom:10px}

#image, .folder {height:15px;
    width: 16px;
    cursor:pointer;}

#image {opacity:0;
    background-color: rgba(255,255,255,.6);
    text-indent: 50px;}

.folder {margin:3px 0 0 6px;
    background: url(/admin/icons/picture.png) no-repeat;
    display: inline;
    position:absolute;
    top:1px;
    left: 227px;}

input.input-file {
    width: 230px;
    height:22px;
    display: inline;}

.inputs {text-align:center}

button.save, button[type="reset"], a.save {
    color:#fff;
    font-size: 11pt;
    padding: 0 15px;
    height:28px;
    margin-top: 8px;
    border-radius: 6px;
    cursor:pointer;}

#filterparams td.limit input[type=text] {
    width: 128px;
}

#filterparams td input[type=checkbox] {
    height: 24px;
}

a.save {background: linear-gradient(to bottom, #82b319, #6b9215);
    border-bottom: 2px solid #466502}

.save[type="submit"] {background: linear-gradient(to bottom, #82b319, #6b9215);
    border-bottom: 2px solid #466502}

button[type="reset"] {background: linear-gradient(to bottom, #f35429, #dc4a23);
    border-bottom: 2px solid #a42d0d;
    margin-left:20px}

button[type="reset"]:hover {background: linear-gradient(to top, #f35429, #dc4a23)}

button.save[type="submit"],button.save[type="submit"]:hover {background: linear-gradient(to top, #82b319, #6b9215)}
/* main-admin -properties.css end */

/* multiselect css */
/*.category.ui-multiselect{width:200px !important; height: auto !important;} */
button.ui-multiselect:active,
.ui-multiselect{padding: 2px 0 1px 16px;
    cursor: pointer;
    height: 30px;
    border: 1px solid #c0bdba;
    background: #fff;
    color: black;}
.ui-multiselect span{text-align: left;
    line-height: 1.5;
    color: #5c5e64;
    float: left;
    width: 77%;
    height: 30px;
    overflow: hidden;
    display: inline-block;}
.ui-multiselect .ui-icon{width:30px;height:30px;margin: -3px -1px 0 0;background: url(images/mmaselected2.png) no-repeat 0 0;display: block;float: right;}
.ui-multiselect.ui-state-active .ui-icon{background-position: 0 -32px;}
.ui-multiselect.type2 .ui-icon{width:25px;height:23px;background-position: 0 -85px;margin:0;}
.ui-multiselect.ui-state-active.type2 .ui-icon{width:25px;height:23px;background-position: left -108px;}
.ui-autocomplete,
.category.ui-multiselect-menu,
.uiInput.ui-multiselect-menu {
    display:none;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.36);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.36);
    box-shadow: 0 2px 3px rgba(0,0,0,0.36);
    position: absolute;background: #faf6f5;padding:5px;font-size:1.16em;border-radius: 0;border:1px solid #e2e3e3;z-index: 100;}
.ui-autocomplete ul,
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:auto; list-style: none; }
.ui-autocomplete li a,
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:1px 1px 1px 6px;color:#5c5e64; }
.ui-multiselect-checkboxes label.ui-state-active{color:#1D95D2;font-weight: bold;}

.ui-autocomplete li a:hover,
.ui-multiselect-checkboxes label:hover{background: lightcyan /*#f5f4f2*/; color:#4c4c4c;cursor: pointer;}
.ui-multiselect-checkboxes label input { position:relative; top:1px;margin-right:5px; }
.ui-autocomplete li,
.ui-multiselect-checkboxes li { clear:both; font-size:0.85em; margin-right:3px; line-height: 1.25; list-style: none;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside:avoid;
    -moz-page-break-inside:avoid;
    page-break-inside: avoid;}
.ui-multiselect-checkboxes li.groupopt label,
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:left; font-weight:bold;color:#4AB6EC;margin:3px 5px 0 0; }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:2px;  text-decoration:none;}
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a:hover{text-decoration:underline;}
.ui-multiselect-checkboxes li.groupopt label{padding:0;margin-left:-1px;}
.ui-multiselect-single .ui-multiselect-checkboxes input{left: -9999px;position: absolute !important;top: auto !important;}
.ui-helper-reset {height: auto !important;}
.category.ui-helper-reset {height: 150px !important;}
.ui-autocomplete ul{max-height: 175px;}
/*
.ui-autocomplete li{border-bottom:1px solid #E2E2E2;}
.ui-autocomplete li.last{border:none;}
*/
.ui-multiselect-menu .ui-widget-header{padding:5px 5px;background: #eae9e5; color:#4AB6EC;margin-bottom: 5px}
.ui-multiselect-menu .ui-widget-header li{font-size:0.9em;font-weight:bold;display:inline-block;margin-right:10px;}
.ui-multiselect-menu .ui-widget-header li a{text-decoration: underline; color: black;}
/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }
.uiInput.ui-multiselect-menu {
    border-radius: 1px;
    width: 680px !important;
}
.category.ui-multiselect-menu {
    border-radius: 1px;
    width: 200px !important;
}
.ui-multiselect-checkboxes {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -ms-column-count: 4;
    -o-column-count: 4;
    column-count: 4;
}
.category.ui-multiselect-checkboxes {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -ms-column-count: 1;
    -o-column-count: 1;
    column-count: 1;
}
.ui-icon-check,.ui-icon-closethick{
    display: none;
}
.ui-multiselect-close{
    float:right;
}
.ui-multiselect-checkboxes > ul {
    /*  -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      -o-column-break-inside: avoid;
      break-inside: avoid;*/
}
#filter table tbody td select,#filter table tbody td input{
    width: 150px;
}
#filter table tbody tr:nth-child(1) td{
    padding: 5px 0;
}
#filter table tbody td input{
    width: 80px;
    margin: 0 5px;
    border: 1px solid #c0bdba;
    height: 30px;
    padding: 3px;
    line-height: 1.5;
    overflow: hidden;
    text-align: center;
}
#filter table tbody td select{
    opacity: 0;
    height: 0;
}
.stantionsEdit #container{
    width: 340px;
    height: 300px;
}

#children .stationItem_1 #name{
    color: red;
}

#children .stationItem_0 #name{
    color: blue;
}
#mapContainer #cmap{
    width: 340px;
    height: 300px;
}
.shadow .label-image input.input-file {
    width: 220px;
}
.shadow .label-image .folder {
    left: 217px;
    cursor: pointer!important;
}

img.loading {
    display: none;
}

.createform tr.actual {
    display: none;
}

.label-image .folder {cursor: pointer!important;}

.shadow .label-image .folder input {opacity: 0; cursor: pointer!important;}

table.list .region {font-family: gothic;}

.build-coord {background: url("/admin/icons/coord.jpg") no-repeat; width: 15px; height: 16px; }

table.list tr#header th.sortcol {
    background: #348585;
}

table.list tr#header th.sortcol a .arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 8px;
}

table.list tr#header th.desc .arrow{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

table.list tr#header th.asc .arrow{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.settingbuttons {
    width: 256px;
}

.settingbuttons a {
    display: inline-block;
}
#js__info {
    display: none;
}

#js__logs {
    position: relative;
}
tr.disableditem td{
    text-decoration: line-through double;
}

tr.disableditem td.settingbuttons {
    text-decoration: none !important;
}


.accordion__item {
    margin: 5px auto;
}
.accordion__item .accordion__title {
    position: relative;
    display: block;
    padding: 13px 60px 15px 13px;
    margin-bottom: 2px;
    color: #202020;
    font-size: 18px;
    text-decoration: none;
    background-color: #eaeaea;
    border-radius: 3px;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    cursor: pointer;
}
.accordion__item .accordion__title:hover {
    background-color: #e5e4e4;
    transition: all 0.5s ease-out;
}
.accordion__item .accordion-active {
    background-color: #e5e4e4;
}
.accordion__item .accordion__title .accordion__arrow {
    position: absolute;
    top: 13px; right: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    font-size: 20px;
    font-weight: 700;
    margin-right: 5px;
    background-color: #c9c9c9;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.accordion__item .accordion__rotate {
    transform: rotate(225deg);
}
.accordion__item .accordion__content {
    padding: 30px;
    margin-bottom: 2px;
    font-size: 14px;
    display: none;
    background-color: #f3f3f3;
}
.accordion__item .accordion__arrow-item {
    font-weight: 700;
}

table.list .filter {
    background-color: lightgray;
}

.chartfilter .filter {
    background-color: lightgray;
}

.chartfilter .col
{
    vertical-align: middle!important;
}

.chartfilter .coldate .dateperiod {
    width: 80%;
    margin: 0 auto;
}

button[type=submit]#filter {
    margin-left: auto;
    margin-bottom: 24px;
    margin-top: 24px;
    margin-right: 24px;
}

table.list .filter button#filter {
    float: right;
    margin-top: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.chartfilter .ms-options-wrap .ms-options {
    margin-left: 0px !important;
}

.otstup{
    margin-top: 2px;
}
.custom-link {
    border-bottom: 2px solid #2a6496;
}
.header-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo {
    color: #FFFFFF!important;
}
body{
    background: #cde8ed;
}
header{
    background: #143750;
}
.conteiner {
    width: 1200px!important;
    border-radius: 15px;
}
.header-bottom-menu {
    padding: 0 20px;
    margin-bottom: 20px ;
}
table {
    font-size: 16px;
    margin-bottom: 20px;
}
.btn-save {
    background: #64aed7;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    color: #FFF;
    display: block;
    text-align: center;
    max-width: 130px;
}
.btn-allUsers {
    background: #64aed7;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    color: #FFF;
    display: block;
    text-align: center;
    max-width: 130px;
}
.btn-send {
    background: #24c1a5b5;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    color: #FFF;
    display: block;
    text-align: center;
    max-width: 130px;
    font-size: small;
}
.btn-remove {
    background: #d14a4a;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    color: #FFF;
    display: block;
    text-align: center;
    max-width: 130px;
    font-size: small;
}
.btn-restore {
    background: #24c1a5b5;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    color: #FFF;
    display: block;
    text-align: center;
    max-width: 130px;
    font-size: small;
}
.btn-add {
    background: #6b9215;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    color: #FFF;
    display: block;
    text-align: center;
    max-width: 130px;
    font-size: small;
}

.content {
    margin: 0!important;
    padding: 10px!important;
    box-sizing: border-box;
    border-radius: 10px;
}
.header-bottom-menu {
    width: 1200px;
}
.save {
    padding: 3px!important;
    box-sizing: border-box;
    display: block;
    width: fit-content;
}
.list tr td {
    vertical-align: middle!important;
}
.text-comment {
    border: 2px solid #ededed!important;
}
.page-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.page-active {
    background: #348585;
    border-radius: 10px!important;
}
.btn-container{
    display: flex;
    gap: 10px;

}
.btn-container button{
    margin: 0 !important;
}
.btn-back{
    color: #fff;
    font-size: 11pt;
    padding: 0 15px;
    height: 28px;
    border-radius: 6px;
    cursor: pointer;
    background: #2b3935d6;
    box-sizing: border-box;
    display: block;
    text-align: center;
    max-width: 130px;
}
.btn-send {
    background: #6dc1b2b5;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    color: #FFF;
    display: block;
    text-align: center;
    max-width: 130px;
}
.icontent{
    width: 100%;
    overflow-x: scroll;
}
.logout{
    background: #24c1a5b5;
    border-radius: 14px;
    padding: 13px;
    box-sizing: border-box;
    color: #FFF;
    display: block;
    text-align: center;
    max-width: 130px;
}
.forText{
    height: 161px;
    width: 454px;
    border: 1px solid #bdbdbd;
}
.folders{
    border: 1px solid #bdbdbd;
}

tr.filter td.col {
    width: 20%;
}
tr.filter td.coldate {
    width: 20% !important;
}
tr.filter td.colid {
    width: 10%;
}
tr.filter td.col .ms-options-wrap {
    max-width: 350px !important;
}
.groupcontainer {
    margin-top: 16px;
    margin-left: 4px;
}
.groupcontainer #group {
    width: 90%;
    height: 29px;
}
.chartfilter .ms-options-wrap {
    width: 90%;
}
.accordioncommandparameteritem {
    display: flex;
}
.accordioncommandparameteritem .parameter {
    float: left;
    flex-direction: row;
}
.accordioncommandparameteritem .clickscount {
    float: left;
    flex-direction: row;
    margin-left: 32px;
}

.statisticfilter .statisticfiltercol {
    width: 49%;
}

.statisticfilter {
    display: flex;
}

.statisticfilter .datepicker {
    width: 80%;
}
.vacancies-table-container {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #2b2b2b;
    border-radius: 8px;
}

#setting #value input {
    width: 1100px !important;
}

#directionForm textarea[name=text]
{
    width: 512px;
    height: 128px;
    background-color: #cde8ed;
}

.onepage .sendmessage input[type=text] {
    width: 95%;
}

.vacancies-table-container #header #title {
    width: 25%;
}

.vacancies-table-container #header .table-description {
    width: 25%;
}

.filtercontainericontent .filter {
    background-color: lightgray;
}

.description-short {
    font-size: small;
}

.description-long {
    font-size: small;
    display: none;
}

.dt {
    font-size: small;
}

.messageflag_true {
    color: brown;
}

.chat-messages .message {
    display: inline-block;
    margin-right: 8px;
}

.chattitle {
    font-size: small;
}

table.onlychatheaders .chatpremessages {
    display: none;
}

.foldertitle_true {
    font-style: oblique;
    color: #d14a4a;
}

button.massaction {
    float: left;
    margin-left: 8px;
}

button.save#filter {
    margin-left: 8px;
}

.filterchatblock {
    margin-left: 8px;
}

.foldertitle_false #fromFolder.btn-remove {
    display: none;
}

.foldertitle_true .btn-add {
    display: none;
}

.tgaccount_false {
    background-color: lightgray;
}

.tgaccount_true {
    background-color: #4AB6EC;
}

.spinner-border {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    border: 0.2em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
    to { transform: rotate(360deg); }
}

.tgaccount_true #auth{
    display: none;
}