<div class="icontent">
    <form action="#" th:action="@{/cron/save}" class="edit-form form-horizontal" method="post">
        <table class="list">
            <tbody>
            <tr>
                <td>Время запуска</td>
                <td>
                    <button class="save" type="submit">Выполнить синхронизацию</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="save" type="submit">Выполнить синхронизацию</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>