<div class="icontent">
    <form action="#" th:action="@{/settings/save}" th:object="${items}"
          class="edit-form form-horizontal" method="post">
        <div id="tabs">
            <ul>
                <li><a href="#tabs-cron">Крон</a></li>
                <li><a href="#tabs-other">Прочее</a></li>
            </ul>
            <div id="tabs-cron">
                <table class="list">
                    <thead>
                    <tr id="header">
                        <th class="table-alias">Параметр</th>
                        <th id="rate" class="table-description"> Значение</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Строка времени</td>
                            <td id="cron_time"></td>
                        </tr>
                        <tr>
                            <td>Шаблон поиска</td>
                            <td id="term"></td>
                        </tr>
                        <tr>
                            <td>После игнора</td>
                            <td id="max_day"></td>
                        </tr>
                        <tr>
                            <td>Последнее сообщение</td>
                            <td id="cron_lastmessage"></td>
                        </tr>
                        <tr>
                            <td>Новое сообщение</td>
                            <td id="cron_newmessage"></td>
                        </tr>
                        <tr>
                            <td>Последний запуск</td>
                            <td id="cron_lastrun"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="tabs-other">
                <table class="list">
                    <thead>
                    <tr id="header">
                        <th class="table-alias">Параметр</th>
                        <th id="rate" class="table-description"> Значение</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:if="${items.settings.empty}">
                        <td colspan="2"> Тут пусто</td>
                    </tr>

                    <th:block th:each="item, iter : *{settings}">
                        <tr id="setting">
                            <td id="code">
                                <input th:field="*{settings[__${iter.index}__].code}" readonly="readonly"/>
                            </td>
                            <td id="value">
                                <input th:field="*{settings[__${iter.index}__].value}" th:data="*{settings[__${iter.index}__].code}"/>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>
        <button class="save" type="submit">Сохранить</button>
        <script>
            jQuery( function() {
                jQuery.each(["cron_time", "cron_lastmessage", "cron_newmessage"], function(index, field) {
                    console.log(field);
                    var td = jQuery("input[data="+field+"]").parent();
                    jQuery("td#"+field).html(td.html());
                    td.parent().hide();
                    td.remove();
                })

                jQuery.each(["term", "max_day", "cron_lastrun"], function(index, field) {
                    var value = jQuery("input[data="+field+"]").val();
                    jQuery("td#"+field).html(value);
                })

                jQuery("input[data=cron_lastrun]").parents("tr").hide();
                jQuery( "#tabs" ).tabs();
            } );
        </script>
    </form>
</div>