<div class="icontent">
    <form action="#" th:action="@{/synchr/action}" class="edit-form form-horizontal" method="post">
        <table class="list">
            <tbody>

            <tr>
                <td>
                    <label>ТГ аккаунты:</label>
                    <select id="tgAccounts" name="tgAccountIds" multiple="multiple" class="form-control">
                        <option th:each="tgAccount : ${tgAccounts}"
                                th:value="${tgAccount.id}"
                                th:text="${tgAccount.description}"></option>
                    </select>
                </td>
                <td>
                    <button class="save" type="submit">Выполнить синхронизацию</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <script>
            jQuery(document).ready(function () {
                jQuery('select[multiple]#tgAccounts').multiselect({
                    columns: 3,
                    search: true,
                    selectAll: true,
                    texts: {
                        placeholder: 'Тг-аккаунты',
                        search: 'Тг-аккаунты'
                    }
                });
            });
        </script>
    </form>
</div>