<div class="icontent">
    <form action="#" th:action="@{/synchr/action}" class="edit-form form-horizontal synchr" method="post">
        <table class="list">
            <tbody>

            <tr>
                <td>
                    <div class="tgmultiselectcontainer" th:insert="tgmultiselect.html :: div"></div>
                </td>
                <td>
                    <button class="save" type="submit">Выполнить синхронизацию</button>
                    <button class="save export" type="submit">Экспорт</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <script>
            jQuery(document).ready(function () {
                jQuery("button.export").on("click", function () {
                    var url =  jQuery("form.synchr").attr("action").replace("action", "export");
                    console.log(url);
                    jQuery("form.synchr").attr("action", url);
                })
            })
        </script>
    </form>
</div>